<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h1>USERs</h1>

    <div class="container_display">
        <h2>The Users for this app: </h2>

        {% if users_infos %}
            <table class='table table-condensed'>
                <thead>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Email </th>
                </thead>
                {% for usr in users_infos %}
                    <tr>
                        <td>{{ usr.first_name }} </td>
                        <td>{{ usr.last_name }} </td>
                        <td>{{ usr.email }} </td>
                    </tr>
                {% endfor %}    
            </table>
        {% else %}
            <h3> Not a file</h3>    

        {% endif %}  
    </div>
  






</body>
</html>